/* """"""""""""""""""""""""""""""""""""""LAYOUT SECTION"""""""""""""""""""""""""""""""""" */
body{
	background-color:#9c9f84;
	margin:0px;
	font-family:verdana;
	font-size:14px;
}
#header{
	background-color:#5c755e;
	margin:10px;
	height:90px;
	border-radius:5px;
	
}
#navbar ul {
	margin:10px;
	height:30px;
	border-radius:5px;
	padding:5px;
	list-style-type:none;
	text-align:center;
	background-color:#000;
	
}
#navbar ul li{
	display:inline;
}
#navbar ul li a{
	text-decoration:none;
	font-family:algerian;
	padding:5px;
	color:#fff;
	font-size:26px;
	font-style:bold;
	background-color:#000;
}
#navbar ul li a:hover{
	color:#000;
	background-color:#fff;
}
.main{
	background-color:#e5e4d7;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:320px;	
	border-radius:5px;
	padding:20px;
	font-size:110%;
	
	
}
.sideright{
	background-color:#e5e4d7;
	margin-top:0px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	border-radius:5px;
	padding:20px;
	font-size:105%;
	float:right;
	width:260px;
	clear:right;
}
.imgsidebar{
	margin-top:0px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	border-radius:5px;
	float:right;
	width:300px;
	clear:right;
	opacity:1.0;
}
.imgsidebar:hover{
	opacity:0.5;
	
}
#footer{
	text-align:center;
	background-color:#5c755e;
	color:#fff;
}
#footer ul {
	height:30px;
	border-radius:5px;
	padding:5px;
	list-style-type:none;
	text-align:center;
	
}
#footer ul li{
	display:inline;
}
#footer ul li a{
	text-decoration:none;
	font-family:arial;
	padding:1px;
	color:#fff;
}
#footer ul li a:hover{
	color:#000;
}
/* """""""""""""""""""""""""""""""""""""""" HEADINGS SECTION"""""""""""""""""""""""""" */
h1{
	color:red;
	font-size:110%;
}
h2{
	color:blue;;
	font-size:120%;
}
h3{
	font-size:250%;
	text-align:center;
	color:#e5e4d7;
	font-family:gillsans;
}
